  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>ちーたんかるた</h1>
      <p class="lead">僕と一緒に発掘しようよ</p>
      <p class="lead">〜モードを選んでね〜</p>
    </div>

    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-5 col-md-offset-1 select-top">
        <img src ="assets/fight.jpg">
      </div>
      <div class="col-md-offset-1 col-md-5 select-top">
        <img src ="assets/dig.jpg">
      </div>
    </div>
    <div id='chi-tan'>
      <%= image_tag('search.gif') %>
    </div>
  </div>
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
    <% end %>
    <div class="alert alert-info fade in">
      <%= notice %>
  </div>
