<div class="row">
  <div class="col-md-offset-2 col-md-8 col-md-offset-2">
    <div id='story'>ストーリーモード</div>

    <a href='/level1.html'><p class='level'>１階層（かいそう）</p></a>
    <p class='level'>２階層（かいそう）</p>
    <p class='level'>３階層（かいそう）</p>
    <p class='level'>４階層（かいそう）</p>
    <p class='level'>５階層（かいそう）</p>
    <p class='level'>６階層（かいそう）</p>
    <p class='level'>７階層（かいそう）</p>
    <p class='level'>８階層（かいそう）</p>
    <p class='level'>９階層（かいそう）</p>
    <p class='level'>１０階層（かいそう）</p>
    <p class='level'>１１階層（かいそう）</p>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-5 col-md-2 col-md-offset-5">
    <a href='/'>
      <div id='back'>戻る</div>
    </a>
  </div>
</div>
