<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui-1.11.1.js"></script>
  <script src="js/jquery.flip.min.js"></script>
  <script src="js/karuta.js"></script>
</head>
<body>
  <div class="header">
  <%= image_tag("search.gif") %>
  <h1>ドラえもんカルタ</h1>
  </div>
  <center>
    <div id="quetioin-area">
      <%= @question %>
    </div>
  </center>
  <div id="karuta-list">
    <center>
      <div id="result"></div>
    </center>
  </div>
</body>
