  <div class="header">
  <center>
    <h1>ちーたんカルタ　レベル１</h1>
  </center>
  </div>
  <center>
    <div id="quetioin-area" class="jumbotron">
    </div>
  </center>
  <div id="karuta-list">
    <center>
      <div id="result"></div>

    <table>
      <tr>
        <td>
          <div class="karuta" id="answer0"></div>
          <div class="karutaData"></div>
        </td>
        <td>
          <div class="karuta" id="answer1"></div>
          <div class="karutaData">え？</div>
        </td>
      </tr>
    </table>
    </center>
  </div>
